.header {
  display: flex;
  justify-content: space-between; /* Coloca los elementos al inicio y al final */
  align-items: center;
  background-color: #000000; /* Color de fondo del header */
  padding: 15px; /* Espaciado interno del header */
  box-shadow: 0px 2px 4px rgba(44, 40, 40, 0.1); /* Sombra ligera */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px; /* Ancho del logo */
  height: auto; /* Altura automática para mantener la proporción */
  margin-right: 10px; /* Espacio entre el logo y el texto */
}

.logo span{
  
  color: white;
}

.menu {
  display: flex;
}

.menu a {
  text-decoration: none;
  color: #e9d2d2; /* Color del texto del menú */
  margin-left: 20px; /* Espacio entre elementos del menú */
}

.client{
  color: white;
  background-color: #c11906;
  padding: 4px 12px; /* Espaciado interno del botón del carrito */
  border-radius: 5px;

}
.buscador1 {
  display: flex;
  align-items: center;
}

.barrabuscar {
  padding: 8px 40px 8px 12px; /* Espaciado interno del campo de búsqueda */
  border: 1px solid #CCCCCC; /* Borde del campo de búsqueda */
  border-radius: 5px; /* Borde redondeado */
  width: 200px; /* Ancho del campo de búsqueda */
}

.MagnifyingGlassCircleIcon {
  color: #fce3e3; /* Color del icono de búsqueda */
  position:flex; /* Añadir posición absoluta */
  right: 40px; /* Colocar el icono al lado derecho */
  cursor: pointer;
  width: 30px; /* Cambiar el cursor al pasar sobre el icono */
}



.carrito {
  display: flex;
  align-items: center;
  background-color: #c11906; /* Color de fondo del botón del carrito */
  color: #ffffff; /* Color del texto del botón del carrito */
  border: none; /* Sin borde */
  padding: 8px 16px; /* Espaciado interno del botón del carrito */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
}


.header-image {
  width: 100%;
  padding: 20px;
  text-align: center;
  clear: both; /* Asegura que no haya ningún otro elemento flotando a su lado */
}

.header-image img {
  width: 100%;
  height: auto;
}

.img-principal {
  margin-top: 20px;
}

.img-principal h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.img-principal p {
  font-size: 16px;
  margin-bottom: 20px;
}

.visitar-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.visitar-btn:hover {
  background-color: #0056b3;
}

.cards-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
   height: 60%;
}

.card {
  border: 1px solid;
  flex: 1 0 calc(24% - 2px);
  margin-right: 0px;
  position: relative; 
}

.card img {
  width: 100%;

  filter: brightness(70%);
  transition: transform 0.3s; /* Añadimos una transición suave */
}

.card:hover img {
  transform: scale(1.02); /* Ajusta el valor según desees el nivel de zoom */
}


.info {
  position: absolute; /* Lo posicionamos absolutamente dentro de la tarjeta */
  top: 50%; /* Lo movemos al 50% del padre (tarjeta) */
  left: 50%; /* Lo movemos al 50% del padre (tarjeta) */
  transform: translate(-50%, -50%); /* Lo movemos al centro */
  padding: 20px;
}

.info h3 {
  top: 50%; /* Lo movemos al 50% del padre (tarjeta) */
  left: 50%;
  font-family: Impact;
  width: 35px;
  color: rgb(255, 255, 255);

}
.banner {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.contenido-nosotros{
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.in-fo h1{
  font-size: 25px;
  color: rgb(0, 0, 0);
}

.in-fo p{
  margin-top: 8px;
  color: rgb(0, 0, 0);
}


.buscador1 input{
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.historia h1{
  margin-top: 8px;
  font-size: 25px;
  color: rgb(0, 0, 0);
}
.historia p{
  margin-top: 8px;
  color: rgb(0, 0, 0);
}
.contenido-nosotros {
  display: flex;
}



.map {
  width: 300px;
  flex: 0 0 auto;
}

.in-fo, .historia {
  flex-direction: column; /* Establecer la dirección como columna */
}


/* Ocultar el buscador en pantallas grandes */
.buscador {
  display: none;
}

/* Mostrar el buscador junto al logo en pantallas pequeñas */
@media (max-width: 768px) {
  .logo-and-buscador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  

  .buscador {
    display: flex;
    margin-left: 1rem;
  }

  
.buscador input{
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
  .buscador1{
    display: none;
  }
  .menu.hidden {
    max-height: 0;
    overflow: hidden;
  }
}

/* Mostrar el buscador separado en pantallas grandes */
@media (min-width: 768px) {
  .buscador.md\\:flex {
    display: flex;
  }
  

}
/* Asegurarte de que el menú se despliega correctamente */
.menu {
  transition: max-height 0.3s ease-out;
}

.menu.hidden {

 
}

.menu.flex {
  max-height: 500px; /* Ajustar según sea necesario */
}

.header {
  display: flex;
  justify-content: space-between; /* Coloca los elementos al inicio y al final */
  align-items: center;
  background-color: #000000; /* Color de fondo del header */
  padding: 15px; /* Espaciado interno del header */
  box-shadow: 0px 2px 4px rgba(44, 40, 40, 0.1); /* Sombra ligera */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px; /* Ancho del logo */
  height: auto; /* Altura automática para mantener la proporción */
  margin-right: 10px; /* Espacio entre el logo y el texto */
}

.logo span{
  color: white;
}

.menu {
  display: flex;
}

.menu a {
  text-decoration: none;
  color: #e9d2d2; /* Color del texto del menú */
  margin-left: 20px; /* Espacio entre elementos del menú */
}

.client {
  color: white;
  background-color: #c11906;
  padding: 4px 12px; /* Espaciado interno del botón del carrito */
  border-radius: 5px;
}

.buscador1 {
  display: flex;
  align-items: center;
}

.barrabuscar {
  padding: 8px 40px 8px 12px; /* Espaciado interno del campo de búsqueda */
  border: 1px solid #CCCCCC; /* Borde del campo de búsqueda */
  border-radius: 5px; /* Borde redondeado */
  width: 200px; /* Ancho del campo de búsqueda */
}

.carrito {
  display: flex;
  align-items: center;
  background-color: #c11906; /* Color de fondo del botón del carrito */
  color: #ffffff; /* Color del texto del botón del carrito */
  border: none; /* Sin borde */
  padding: 8px 16px; /* Espaciado interno del botón del carrito */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
}

.menu-toggle {
  margin-left: 10px;
}

.buscador {
  display: none;
}

@media (max-width: 768px) {
  .buscador {
    display: flex;
    margin-left: 1rem;
  }

  .logo span{
    display: none;
  }
  .buscador1 {
    display: none;
  }

  .flex.items-center.space-x-4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

